.calendarBottomText {
  text-anchor: middle;
  fill: #795548;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  border-top: 1px solid #d6cac6;
}

.calendarTopTick {
  stroke: #d6cac6;
}

.calendarTopText {
  text-anchor: middle;
  dominant-baseline: text-after-edge;
  fill: #3e2723;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  border-bottom: 1px solid #d6cac6;
}

.calendarHeader {
  fill: #efeae8;
  stroke: #e0e0e0;
  stroke-width: 1.4;
}
